@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
}

body{
    background-color: rgb(249, 251, 253);
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}

.nav_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
.nav_logo i{
    margin: 7px;
    font-size: 23px;
}

.nav_logo div{
    font-size: 20px;
}

.nav_items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_items ul a{
    transition: all 0.5s ease;
}

.nav_items ul a, .sm_icons{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav_items ul a{
    margin: 5px 10px 0px 10px;
    padding:  5px 5px 10px 5px;
    border-radius: 10px 10px 0 0;
}

.nav_items ul a:hover{
    color: black;
    background-color: white;
}


 .nav_items ul a div{
    margin-left: 5px;
}

.sm_icons i{
    font-size: 18px;
    margin: 5px;
}

.sm_icons i:nth-child(3){
    margin-right:25px;
}

.sm_icons i:nth-child(1){
    margin-left:25px;
}

@media only screen and (max-width: 700px) {
    .nav_logo_name , .txt{
        display: none;
    }

    
  }

@media only screen and (max-width: 400px) {
    .nav_logo_name{
        display: block;
    }

    .nav_bar{
        flex-direction: column;
    }

    .nav_items ul a{
        margin:10px 5px 10px 5px;
        border-radius: 60%;
    }

  }


.home{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home .home_container_01{
    background-color: rgba(0, 255, 255, 0.005);
    width: calc(250px + 18vw);;
    height: calc(250px + 18vw);;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container_01 div{
    border-radius: 40%;
    border: 4px solid black;
    width: 90%;
    height: 90%;
    box-shadow: 10px 10px 4px #4f6681;
    overflow: hidden;

}

.c1img img{
    width: 100%;
}

.home_container_02{
    /* background-color: rgb(53, 46, 46); */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.home_container_02 div{
    font-size:calc(12px + 4vw);
    margin: 10px 10px 10px 10px;
}

.hc2_01{
    /* background-color: antiquewhite; */
    padding-top: 4vw;
}
.hc2_02{
    /* background-color: aquamarine; */
    padding-bottom: 4vw;
}


.hc2_02::before {
    content: "A programmer";
    animation: animate infinite 4s;
}

@keyframes animate {

    0% {
        content: "A designer";
        color: purple;
    }

    33% {
        content: "A developer";
        color: rgb(7, 148, 148);
    }

    66% {
        content: "A programmer";
        color: green;
    }

    100%{
        content: 'A designer';
        color: purple;
    }
}



.bottomnav{
    width: 3vw;
    height: 3vw;
    background-color: rgb(129, 68, 68);
    position: sticky;
    left: 95.5vw;
    bottom: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
    color: white;
    background-color: black;
    min-height: 35px;
    min-width: 35px;
    padding: 13px;
    margin-right: 10px;
    transition: all 1s ease;
    text-decoration: none;
}

.bottomnav i{
    transition: all 1s ease;
    color: white;
    font-size: 3vw;
    font-size:calc(16px + 1vw);
    border-radius: 100%;
}

.bottomnav:hover i , .bottomnav:hover{
    background-color: white;
    color: black;
}

.bottomnav:hover{
    cursor: pointer;
}

.bottomnav:hover i{
    transform: scale(1.5);
}

#danger{
    z-index: 3;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 0, 0.452);
    background-color: rgba(255, 0, 0, 0.438);
    /* border-radius: 10px; */
    /* border: 4px solid red; */
    left: 50vw;
    top: 0px;
}